@import "tailwindcss";

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.roles-container {
  
  display: inline-block; 
  overflow: hidden;
  position: relative;
  height: 1.9rem;
}

.role {
  padding-right: 5px;
  padding-left: 5px;
  display: block;
  height: 1.2em;
  color:#ff0000;
  animation: roling 5s infinite;
}

@keyframes roling {
10%{ transform: translateY(-102%);} 
25%{ transform: translateY(-100%);}
50%{ transform: translateY(-202%);}
}

.myWork {
  color: white;
  background-color: rgb(56, 56, 56);
  border-radius: 5px;
  height: 100px;
  padding-top: 25px;
  padding-left: 30px;
}
/*
.big-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100rem;
  overflow: hidden;
  position: relative;
}

.slidex {
  padding-right: 5px;
  padding-left: 5px;
  display: inline;
  width: 100rem ;
  animation: sliding 5s infinite;
}
  */
.big-container {
  display: flex;
  width: max-content;          /* container adapts to content */
  animation: sliding 20s linear infinite;
}

.big-container .slidex {
  flex-shrink: 0;              /* prevent shrinking */
  margin-inline: 4rem;
}

.slidex img {
  height: 1.5rem;
}

@keyframes sliding {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%); /* move left by half of duplicated container */
  }
}